@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,100;1,200;1,400;1,600;1,700;1,800&family=Tilt+Neon&display=swap");

html {
  font-family: "Karla", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Tilt Neon", cursive;
}

body {
  margin: 0;
  background-color: #222425;
  color: aliceblue;
}

.buttonUrgent {
  animation: glowing 1.4s infinite;
}

.buttonUrgent:hover {
  animation: glowing 0.7s infinite;
}

@keyframes glowing {
  0% {
    background-color: #474368;
    box-shadow: 0 0 0 #474368;
    color: #a29bfe;
  }
  50% {
    background-color: #a29bfe;
    box-shadow: 0 0 1.2rem #a29bfe;
    color: #474368;
  }
  100% {
    background-color: #474368;
    box-shadow: 0 0 0.5rem #474368;
    color: #a29bfe;
  }
}

::selection {
  background-color: rgba(162, 155, 254, 0.8);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Karla", sans-serif;
  }
}
