.spinner {
  display: inline-block;
  width: 8rem;
  height: 8rem;
}

.spinner:after {
  content: " ";
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 0.8rem;
  border-radius: 50%;
  border: 0.6rem solid #7eaab3;
  border-color: #7eaab3 transparent #7eaab3 transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
