.navBar {
  background-color: #1d1e1e;
  color: white;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  height: 5rem;
  min-height: 4rem;
  width: 100%;

  font-size: 1.5rem;

  /* padding: 0px;
  margin: 0 auto; */
  box-sizing: border-box;
}

/* LEFT - logoSpace */
.logoSpace {
  width: 15%;
  text-align: left;
}

/* CENTER - navbar links */
nav {
  height: 100%;
  width: 50%;
}

.navBarLinks {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.navBar li {
  width: 10rem;
  text-align: center;
  margin: 0 auto;
}

.navBar a {
  color: white;
  text-decoration: none;
}

.navBar a:active,
.navBar a.active {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  color: whitesmoke;
  padding-bottom: 0.15rem;
  border-bottom: 0.15rem solid whitesmoke;
}

.navBar a:hover {
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: whitesmoke;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid whitesmoke;
}

/* RIGHT - profile + sign out */
.profileSpace {
  display: flex;
  flex-direction: wrap;
  justify-content: flex-end;

  width: 15%;
  text-align: right;
  align-items: center;
}

.profilePic {
  object-fit: cover;
  width: 3.2rem;
  height: 3.2rem;

  border-radius: 50%;
  margin-right: 2rem;
}

.profileOption {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin: auto 0;
}
